/*
Theme Name: Marriage Wordpress Theme
Theme URI: http://famousthemes.com/marriage-wordpress/
Description: Marriage Wedding Wordpress Theme
Version: 2.0
Author: FamousThemes
Author URI: http://famousthemes.com/
License: GNU General Public License
License URI: license.txt
Tags: black, white
*/
/* CSS Reset 
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

/* General Setup
/*-----------------------------------------------------------------------------------*/
body{font-family:Arial, Helvetica, sans-serif;padding:0;font-size:12px;margin:0 auto;color:#48402c;} 
.clear{clear:both;}
p{padding:0;margin:0px;text-align:left;line-height:20px;}


a{text-decoration:none;}
a img{border:none;}
a:hover{ text-decoration:none;}
a.more{ display:block;background:url(images/bullet.gif) no-repeat left; padding:0 0 0 20px; margin:15px 0 0 0; float:right;}
a.details{ display:block;background:url(images/bullet.gif) no-repeat left; padding:0 0 0 15px; margin:5px 0 0 0;}
img.alignleft{ float:left; margin:0 20px 20px 0; border:5px #e6e2d8 solid;}
a.button{width:103px; height:41px;text-align:center; line-height:41px; margin:0 20px 0 20px; color:#564926; text-shadow:1px 1px #f8d67f;}
.right{ float:right;}
.left{ float:left;}

h1{font-size:26px;margin:0;}
h2{font-size:20px;margin:0;}
h3{font-size:18px;margin:0;}
h4{font-size:16px;margin:0;}
h5{font-size:14px;margin:0;}
h6{font-size:12px;margin:0;}

h1, h2, h3, h4{font-family: 'Ovo', serif; color:#53462e;font-weight: normal;padding:0 0 5px 0;}

/* Layout
/*-----------------------------------------------------------------------------------*/
.left_full {padding:40px 40px 0 40px;}
.left_full_text{padding:20px 40px 0 40px; clear:both;}
.left14{ width:200px; float:left; padding:40px 0 0 40px;}
.left13{ width:280px; float:left; padding:40px 0 0 40px;}
.left23{ width:600px; float:left; padding:40px 0 0 40px;}
.left12{ width:440px; float:left; padding:40px 0 0 40px;}

.left15{ width:180px; float:left; padding:10px 0 0 10px;}
.left14-block{ width:200px; float:left; padding:40px 0 0 40px; border: 1px solid #D8D8D8;}
.center_things{ display: block; margin-left: auto; margin-right: auto; width:50%; }
.center_things1{ display: block; margin-left: auto; margin-right: auto; width:100%; }
a.more_about_lm{ width:103px; height:41px;  text-align:center; line-height:41px; float:right; display:block; margin:15px 0 0 0;}
a.more_about_lm1{ width:103px; height:41px;  text-align:center; line-height:41px; float:right; display:block; margin:15px 0 0 0;}

/* Main Content Structure
/*-----------------------------------------------------------------------------------*/
#shadow_bg{ width:100%; background:url(images/shadow_bg.png) no-repeat top center;}
#main_container{margin:auto;width:1000px;padding:0; position:relative;}
#center_container{margin:auto;width:1000px;padding:0 0 45px 0; position:relative; background-color:#FFFFFF;}

/* Header Structure
/*-----------------------------------------------------------------------------------*/
#header{width:100%; height:190px; background:url(images/header_texture.jpg) no-repeat center top;}
.title{ text-align:center;margin:0px; padding:55px 0 10px 0px;font-family: 'Great Vibes', cursive;font-size:72px;}
.description{font-family: 'Great Vibes', cursive;font-size:24px; margin:auto; display:block; text-align:center;}
.swirl_left{ background:url(images/swirl_left.png) no-repeat left; padding:0 0 0 50px;}
.swirl_right{ background:url(images/swirl_right.png) no-repeat right; padding:0 50px 0 0px;}

/* Menu Structure
/*-----------------------------------------------------------------------------------*/
.show_menu{ display:none;}
.hide_menu{ display:none;}
.menu{padding:0; text-align:center; width:100%; height:70px;}
ul#main_menu {list-style:none; margin:0; padding:0px;}
ul#main_menu * {margin:0; padding:0;}
ul#main_menu li {position:relative; padding:0 22px 0 22px; display:inline-block;}

ul#main_menu li a{font-family: 'Ovo', serif; color:#ffffff; font-size:16px;height:70px; line-height:70px; display:inline-block;}
ul#main_menu li a.selected {font-family: 'Ovo', serif;font-size:16px;height:70px; line-height:70px; display:inline-block; background:url(images/menu_bullet.gif) no-repeat bottom center;}
ul#main_menu li a:hover{background:url(images/menu_bullet.gif) no-repeat bottom center;}

ul#main_menu ul {position:absolute; top:70px; left:0; background:#ededed; display:none; opacity:0; list-style:none;}
ul#main_menu ul li {position:relative; width:140px; margin:0; padding:0px;height:40px; line-height:40px; text-align:left;}
ul#main_menu ul li a {display:block; padding:0 20px 0 20px; font-size:14px;color:#434343;height:40px; line-height:40px;}
ul#main_menu ul li a:hover {background-color:#e5e5e5; background-image:none;color:#434343;}

ul#main_menu ul li ul{position:absolute;top:0px; right:0px; left:140px; background:#ededed; display:none; opacity:0; list-style:none;}
ul#main_menu ul li ul li {position:relative; width:140px; margin:0; padding:0px;height:40px; line-height:40px; text-align:left;background:#ededed;}
ul#main_menu ul li ul li a {display:block; padding:0 20px 0 20px; font-size:14px;color:#434343;height:40px; line-height:40px;}
ul#main_menu ul li ul li a:hover {background-color:#e5e5e5; background-image:none;color:#434343;}

.widget_area_home_three .menu{ background-image:none; background:none; text-align:left;}
.widget_area_home_three .menu li { padding:3px 0;}
.widget_area_home_three .menu li ul{ padding:3px 0 0 10px;}


/* Slider
/*-----------------------------------------------------------------------------------*/
.slider_container{ width:920px; margin:auto; clear:both; background:url(images/shadow_top.png) no-repeat top center; padding:30px 0 0 0;}
.flex-caption{ position: absolute; right:11px; bottom:20px;}
.caption_title_line{ width:450px; height:75px; padding:5px 15px 10px 15px;}
.flex-caption h2{ font-size:20px; padding:5px 0 5px 0; margin:0px;font-family: 'Ovo', serif;}

.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0 0 30px 0;background:url(images/shadow_bottom.png) no-repeat center bottom;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; border:10px #ededed solid;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}

/* Direction Nav */
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:11px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next { bottom:184px;}
.flex-direction-nav li a.prev {bottom:141px;}
.flex-direction-nav li a.next:hover {background:url(images/next_a.png) no-repeat center;}
.flex-direction-nav li a.prev:hover {background:url(images/prev_a.png) no-repeat center;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}


.home_title{ width:920px; background:url(images/divider.jpg) no-repeat center bottom; padding:0 0 80px 0; margin:10px auto auto auto;}
.home_title h2{ float:left;font-size:24px; padding:5px 0 0 0; margin:0px;font-family: 'Ovo', serif; letter-spacing:-0.5px;}
.socials{ float:right;}
.socials ul{ display:inline; padding:0px; margin:0px;}
.socials ul li{ display:inline; padding:0 0 0 5px; float:left;}

.topsocials{ display:none; position:absolute;text-align:center; top:300px; width:30%; left:10%; z-index:9999999;background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px; margin:0 15%; padding:10%;}
.topsocials .social_block{ display:inline-block; padding:0 0 0 5px; margin:0px; text-align:center;}

a.hide_socials{ display:block; clear:both; float:left; width:100%; text-align:center; padding:20px 0 0 0; font-weight:bold;}

/* Widgets zone
/*-----------------------------------------------------------------------------------*/

.widget_area_home_one, .widget_area_home_two, .widget_area_home_three{ padding:0;}
.widget_area_home_three h1, .widget_area_home_three h2, .widget_area_home_three h3, .widget_area_home_three h4{padding-bottom:25px;}

.widget_area_home_two h2{ width:264px; height:38px;line-height:38px; padding:0 0 0 15px; margin:0 0 25px 0;}
.widget_area_home_two h2 span{ color:#FFFFFF; text-shadow:1px 1px #b48a38;}
.widget_area_home_two img{ border:5px #e6e2d8 solid; margin:0 0 0 10px;}
.widget_area_home_two p{ padding:10px;}

.about{ padding-top:0px; padding-bottom:10px;}
.about_pic{ width:147px; height:147px; background:url(images/about_pic_bg.jpg) no-repeat center; float:left;}
.about_pic img{ width:135px; height:135px;border-radius:70px;-moz-border-radius:70px;-webkit-border-radius:70px;-khtml-border-radius:70px;border-radius:70px; margin:6px 0 0 6px;}
.about_right{ width:270px; float:left; padding:0 0 0 20px;}
.about_right h2{font-family: 'Great Vibes', cursive;font-size:30px; padding:0 0 10px 0; margin:0px;}
a.more_about{ width:103px; height:41px;  text-align:center; line-height:41px; float:right; display:block; margin:15px 0 0 0;}
a.more_about_done{ width:103px; height:41px;  text-align:center; line-height:41px; float:right; display:block; margin:15px 0 0 0;}


.widget_area_home_two .widget_text{ width:280px; float:left; padding:40px 0 0 40px;}
.widget_area_home_three .widget_text{padding:0px 0 0 0px;}
.widget_area_home_three .widget_text img{ border:5px #e6e2d8 solid; margin:0 0 0 0px;}
.widget_area_home_three .widget_text p{ padding:10px 10px 0 0;}

.widget_area_home_two .gmap{width:280px; float:left; padding:40px 0 0 40px;}
.widget_area_home_two .gmap_frame{width:260px; float:left;background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px; padding:10px;}
.widget_area_home_three .gmap{width:260px; float:left; padding:0px;}
.widget_area_home_three .gmap_frame{width:220px; float:left;background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px; padding:10px;}
.sidebar .gmap_frame{width:260px; margin:0 0 40px 0; float:left;background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px; padding:10px;}

a.section_more{margin:10px auto auto auto; display:block; text-align:center;}


.fdivider{ background:url(images/footer_divider.gif) no-repeat right top; padding:20px 0 0 40px; margin:20px 0 0 0; min-height:180px;}
.widget_post{ border-bottom:1px #dec278 dotted; padding:0 0 10px 0; margin:0 40px 10px 0;}
.widget_post h3{ font-size:12px; font-family:Arial, Helvetica, sans-serif; padding:0px; margin:0px; font-weight:bold;}
.textwidget{ line-height:19px;}
.divider{width:100%; height:56px; clear:both; float:left; margin:25px 0 0 0; background:url(images/divider.jpg) no-repeat center top;}

.content{ clear:both;}
.content img {max-width: 100%; display: block;}
.videocontainer{ width:100%; margin:0 0 15px 0;}


.name_divider{ height:58px; width:100%;clear:both; margin:40px 0 5px 0px; float:left; clear:both; text-align:center; line-height:58px; color:#FFFFFF;font-family: 'Great Vibes', cursive;font-size:16px;}

.pages_title{height:77px; width:902px; clear:both; float:left; margin:0 0 0 38px; padding:0 0 0 20px; line-height:100px;}
.pages_title h2{ font-size:25px;}


.widget_area_home_two .countdown{width:280px; float:left; padding:40px 0 0 40px;}
.widget_area_home_three .countdown{width:250px; padding:0px 0 0 0px;} 
.hasCountdown { width:100%; padding:20px 0 0 0;}
.countdown_rtl {direction: rtl;}
.countdown_holding span {color: #888;}
.countdown_row {clear: both;width: 100%;padding:0px;text-align: center;}
.countdown_show1 .countdown_section {width: 94%; margin:0 2%;}
.countdown_show2 .countdown_section {width: 44%;margin:0 2%;}
.countdown_show3 .countdown_section {width: 28.5%;margin:0 2%;}
.countdown_show4 .countdown_section {width: 22%;margin:0 2% 0 0;}
.countdown_show5 .countdown_section {width: 17.2%;margin:0 1%;}
.countdown_show6 .countdown_section {width: 16.25%;margin:0 2%;}
.countdown_show7 .countdown_section {width: 14%;padding:0 2%;}
.countdown_section {display: block; padding:5px 0; font-size:11px;	float: left;text-align: center; background-color:#eeeae1;border:1px #d8d2c5 solid; -moz-border-radius:15px;-webkit-border-radius:15px;-khtml-border-radius:15px;border-radius:15px; line-height:20px;}
.countdown_amount { font-size:18px;}
.countdown_descr {display: block;width: 100%;}



.tweet{ background-color:#eeece6;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px; padding:10px; margin:0 40px 0 0; border:1px #e4e1d7 solid;}
.tweet ul, .tweet ul li{ padding:0px; margin:0px; list-style:none;line-height:20px; font-style:italic;}
.tweet ul li a{ font-weight:bold;}
img.tweet_icon{ padding:0 0 0 20px; position:relative; top:-1px;}
/* Portfolio
/*-----------------------------------------------------------------------------------*/
ul.portfolio_items {list-style:none;padding:0 0 40px 20px;margin:0;overflow:hidden; clear:both;}
ul.portfolio_items li {float:left;display:inline-block;overflow: hidden; position:relative;}
ul.portfolio_items li img {display:block;}
ul.portfolio_items li span.portfolio_caption{ position:absolute; width:124px; height:126px; top:50px; left:80px;background:url(images/heart.png) repeat; z-index:999; padding:0 0 0 20px; display:none;}
ul.portfolio_items li span.portfolio_caption a{ display:block; float:left; padding:35px 0 0 8px;}


ul.filter_portfolio {float:left;margin:20px 0 0px 38px; width:919px; background:url(images/filter_bg.jpg) no-repeat center; height:31px; padding:5px 0 0 5px;}
ul.filter_portfolio li {float: left;display:inline;}
ul.filter_portfolio li a {display: block;font-size: 15px; padding:5px 10px; margin:0 10px 0 0; text-transform:capitalize;}
ul.filter_portfolio li.selected a{border: 0;background:#f2e7cf;color: #53462e;display: block;margin:0 10px 0 0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; border:1px #e6d6b3 solid;}
ul.filter_portfolio li a:hover{background:#f2e7cf;color: #53462e;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; border:1px #e6d6b3 solid;}
ul.filter_portfolio a:focus {outline: 0;}

.gallery13{ width:305px; height:260px;float:left; margin:40px 5px 0 10px; position:relative;}
.gallery13 img.frame{ position:absolute; top:0px; left:0px; z-index:888;}
.gallery13 img.thumb{ position:absolute; top:13px; left:13px; z-index:777; border:1px #d7cdb4 solid; padding:6px;}

.gallery13 h3{ font-size:16px; width:290px; padding:220px 0 30px 15px; background:url(images/gallery_title_bg.jpg) no-repeat center bottom; float:left; text-transform:capitalize;}

/* Blog
/*-----------------------------------------------------------------------------------*/
.post{ padding:0 0 40px 0; margin:0; float:left; clear:both; width:100%;}

.attachment_image{ clear:both; text-align:center; margin:50px auto;}
.attachment_image img{max-width: 100%; display: block;}

.widget-categories-full{padding:0px 0 45px 0px; clear:both; float:left;}
.post_widget_full{ padding:40px; margin:0; float:left; clear:both; width:100%;}

.post_left{width:78px; float:left; margin:0px 25px 0 0;}
.date_line_blog{ width:78px; height:70px;  position:relative; text-align:center; padding:18px 0 0 0; margin:0 0 10px 0;}
.date_line_blog span.day{ font-size:55px; width:78px; text-align:center; padding:0;font-family: 'Great Vibes', cursive; line-height:45px;}
.date_line_blog span.month{ font-size:14px; width:78px; text-align:center; padding:0px;font-family: 'Ovo', serif;}
img.date_line{position:absolute; z-index:888; top:0px; left:0px;}

.post_thumb{ float:right; border:5px #e6e2d8 solid; position:relative; width:486px; margin-bottom:10px;}
.post_thumb h2{ position:absolute; bottom:10px; right:10px; z-index:999;padding:15px; margin:0px;}
.post_thumb h2 a{font-size:20px;}

h2.post_title_nothumb{ float:right;width:495px; padding:0px; margin:0px;}
h2.post_title_nothumb_full_widget{ float:right;width:890px; padding:0; margin:0;}
.post_thumb_small{ float:left; border:2px #e6e2d8 solid; margin:0 15px 0 0;}


.comm_line_blog{padding:2px 0 2px 0; margin:0; line-height:18px;}
.comm_line_blog a{ font-size:11px;}
.icon_comm{ background:url(images/icon_comm.png) no-repeat left; padding-left:25px;}
.icon_category{ background:url(images/icon_category.png) no-repeat left; padding-left:25px;}


.entry{ margin:10px 0 20px 0px; float:right;width:496px;}
.entry_widget_full{ margin:10px 60px 20px 0px;width:820px; float:right;}
.pageentry{ clear:both; margin:0px 0 20px 0px;}
.pageentry img{border:5px #e6e2d8 solid; margin:0 0 15px 0;}
.pageentry .icon img{border:none;}
.entry p, .pageentry p, .postfull p{ padding-top:10px; padding-bottom:10px;}

.entry_single{ clear:both; margin:0px 0 20px 0px; float:right;width:496px;}
.entry_single img{border:5px #e6e2d8 solid; margin:0 0 10px 0;}
.entry_single .icon img{border:none;}
.entry_single h2{ padding:0px 0 20px 0; margin:0px;}
.entry_single h3, .pageentry h3{ padding:20px 0 10px 0; margin:0px;}
.entry_single ul, .entry_single ol, .pageentry ul{ padding:0 0 15px 0; margin:0px; list-style:none; display:block;clear:both;}
.entry_single ul li, .entry_single ol li, .pageentry ul li{ padding:0 0 5px 20px; margin:0px 0 5px 0; display:block;background:url(images/bullet.gif) no-repeat left;}
.entry_single ul li a, .entry_single ol li a, .pageentry ul li a{ display:block; padding:0 0 0 0px;}

blockquote{background-color:#eeece6;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; padding:5px; margin:0 0px 10px 0; border:1px #e4e1d7 solid; }


a.read_more{margin:auto; display:block; text-align:center; clear:both; padding:0 0 0 100px;}


.navigation{clear:both; padding:0px 0 0 0px;}
.blog_next a{float:right; padding:0 0px 2px 0; display:block;font-family: 'Ovo', serif; font-size:14px;margin:0px;}
.blog_prev a{float:left; padding:0 0 2px 0px; display:block;font-family: 'Ovo', serif; font-size:14px; margin:0px;}
.blog_next a:hover, .blog_prev a:hover{color:#000;}


/* Sidebar
/*-----------------------------------------------------------------------------------*/
.sidebar h2{ clear:both; padding-bottom:25px;}
.sidebar ul{ padding:0 0 45px 0; margin:0px; list-style:none; display:block;clear:both; float:left; width:100%;}
.sidebar ul li{ padding:0 0 10px 0;display:block; margin:0 0 10px 0; text-transform:capitalize;}
.sidebar ul li a{ background:url(images/bullet.gif) no-repeat left; display:block; padding:0 0 0 20px;color:#000000; }
.sidebar ul li ul li.current-menu-ancestor a{ background:none; }
.sidebar ul li ul{ margin:10px 0 0 5%; padding:10px 0 0 0;width:95%;}
.sidebar ul li ul li a{ background:none;}

.sidebar .menu{ background:none;text-align:left;padding:0px 0 45px 0px; clear:both; float:left; height:auto;}

.sidebar .flickr_widget{padding:0px 0 45px 0px; clear:both; float:left;}
.sidebar .flickr_badge_image{ float:left; margin:0;}
.sidebar .flickr_badge_image img, .flickr_badge_image img a{ padding:4px; width:70px; height:70px;border:1px #DFDFDF solid;background-color:#FFFFFF; margin:0 10px 10px 0;}

.sidebar .widget-categories, .sidebar .widget_text, .sidebar .countdown{padding:0px 0 45px 0px; clear:both; float:left;}
.sidebar .widget_text img{ border:5px #e6e2d8 solid; margin:0 0 0 10px;}
.sidebar .widget_text p{ padding:10px;}

.sidebar .tweet{background-color:#eeece6;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px; padding:10px 10px 0 10px; margin:0 0px 0 0; border:1px #e4e1d7 solid; float:left;}
.sidebar .tweet ul{ padding:0px 0 10px 0;}
.sidebar .tweet ul li{ padding:0 0 10px 0;display:inline; border-bottom:none; margin:0 0 10px 0;}
.sidebar .tweet ul li a{ background:none; display: inline; padding:0 0 0 0px;}
.sidebar .tweet ul li a:hover{ color:#000;}
.sidebar img.tweet_icon{ margin-bottom:40px;}

.bgs ul{ padding:0px; margin:0px; list-style:none;}
.bgs ul li{ width:100%;padding:0 0 10px 0;display:block; margin:0 0 10px 0; float:left; clear:both; line-height:18px;}
.bgs ul li a{ float:left; padding:0px; font-weight:bold;}
img.bg_thumb{ float:left;border:3px #e6e2d8 solid; margin:0 10px 0 0;}


#searchform{margin:0 0 45px 0; clear:both; float:left;background-color:#f6f3ec; border:1px #ede7d8 solid;float:left;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;}
#searchform label{display:none;}
input#s{ width:180px; height:30px; float:left; background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; margin:5px;}
input#searchsubmit{float:left; cursor:pointer;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; margin:5px 5px 0 0px; padding:6px 5px 6px 5px;
}
input#s:focus{ border-color:#a2a2a2; }

.comments_container{float:right;width:496px;}

.commentlist{padding:10px 0 0 0; margin:20px 0 45px 0; list-style:none;border-top:2px #F0EEE5 solid;}
.commentlist li{padding:0px 0 10px 0; margin:0px 0 10px 0; list-style:none; border-bottom:2px #F0EEE5 solid;}
.commentlist li ul li{padding:10px 0 10px 10px; margin:10px 0 0 20px; border-bottom:none;border-top:2px #F0EEE5 solid;}
.commentlist li a{ line-height:20px;}
img.avatar{ float:right;}

/* Gallery Section
/*-----------------------------------------------------------------------------------*/
.gallery{ padding:20px 0 0 45px;}
.gallery-item{ padding-bottom:20px;width: 33.33% !important;}

/* Forms Section
/*-----------------------------------------------------------------------------------*/
.form_content{width:100%;float:left;padding:20px 0px 30px 0px;}
h3.form_subtitle{font-size:20px;padding:10px 0 10px 3%; margin:0 0 10px 0; font-weight:normal; background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px; float:left; width:97%;}

.form_rsvp{ padding:10px 0 30px 30px; float:left;}
.form{ padding:10px 0 30px 0; float:left; width:100%;}
.form_row{width:100%;clear:both;float:left;padding:5px 0 5px 0; margin:0 0 5px 0;
background:url(images/lines.gif) repeat; border:none;float:left;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;
}
.form_row_rsvp{width:560px;clear:both;float:left;padding:4px 0 4px 5px;}

.form_row label{width:100px;float:left; clear:both;font-size:13px;text-align:right;padding:5px 20px 0 0; color:#4c402b;font-weight:bold;height:30px;line-height:30px; text-transform:capitalize;}
.form_row label.small{width:80px;float:left;font-size:13px;text-align:right;padding:5px 20px 0 0; color:#4c402b;font-weight:bold;height:30px;line-height:30px; text-transform:capitalize;}
input.form_input{width:400px;height:39px;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;color:#000;float:left;padding:0px 0 0 10px;}
textarea.form_textarea{width:400px;height:96px;font-family:Arial, Helvetica, sans-serif;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;color:#000;float:left;padding:10px 0 0 10px;font-size:12px;}
input.form_submit_contact{cursor:pointer;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; margin:5px 5px 0 0px; padding:8px 25px;
 margin:auto; text-align:center; display:block; font-size:16px;}

.comments_container label{width:400px;float:left; clear:both;font-size:13px;text-align:left;padding:10px 0 0 15px; color:#4c402b;font-weight:bold;text-transform:capitalize;}
.comments_container input{width:460px;height:39px;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;color:#000;float:left;padding:0px 0 0 10px; margin:0 0 0 10px;}
.comments_container textarea{width:460px;height:96px;font-family:Arial, Helvetica, sans-serif;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px;-khtml-border-radius:5px;color:#000;float:left;padding:10px 0 0 10px;font-size:12px; margin:0 0 0 10px;}
.comments_container input#submit{ width:auto; height:auto;cursor:pointer;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; margin:15px 0 0 10px; padding:8px 25px;
text-align:center; display:block; clear:both; font-size:16px;}
 p.form-allowed-tags, p.comment-notes, span.required{ display:none;}


.select_container{width:411px;height:39px;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;float:left;padding:0px 0 0 0px;}
select.form_select{ width:390px; height:30px; background:none; border:none; padding:5px 0 5px 10px; margin:5px 0 0 5px;}
.checkbox_container{ width:24px; height:23px; background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:25px; -webkit-border-radius:25px;-khtml-border-radius:25px;border-radius:25px;float:left; padding:5px 0 0 4px;}
span.checkbox_value{font-size:13px;padding:7px 0 0 20px; color:#4c402b;font-weight:bold; float:left;}
span.date_value{font-size:13px;padding:7px 0 0 10px;font-weight:bold; float:left; font-style:italic;}
label.error { width:450px; display: block; float: right; color: red; padding:5px 0 0 0px; background:none; text-align:left; font-size:12px; font-weight:normal; }

.contact_info{ width:45%; float:left; padding:40px 5% 0 0}


.icon{width:80px;height:80px;display:block;border-radius:40px;-moz-border-radius:40px;-webkit-border-radius:40px;-khtml-border-radius:40px;border-radius:40px;float:left;margin:0px 20px 0px 0px;text-align:center;}
.icon img{display:block; margin:15px auto auto auto;}


/* Footer
/*-----------------------------------------------------------------------------------*/
.footer{padding:25px 0 25px 0; margin:0;}

.footer_content{ width:1000px; margin:auto;}
.footer_text{ float:left; line-height:22px; padding:0 0 0 40px;}
.footer_text a{ font-weight:bold;}
.footer_text a:hover{ border-bottom:1px dotted #ebc04f; }

.footer_menu{ float:right;padding:0 40px 0 0;}
.footer_menu ul{ display:inline;padding:0px; margin:0px;}
.footer_menu ul li{ display:inline;}
.footer_menu ul li a{ color:#564d35; margin:0 0 0 10px; padding:3px 6px; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;}
.footer_menu ul li.selected a{ color:#564d35; margin:0 0 0 10px; padding:3px 6px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;}
.footer_menu ul li ul.sub-menu{ display:none;}


/* Media Queries
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
body{background:none;}
#main_container{margin:0 auto;width:98%;}
#center_container{margin:0 auto;width:98%;}
#header{ height:auto; position:relative;}
.title{ text-align:center;margin:0px; padding:55px 0 10px 0px;font-family: 'Great Vibes', cursive;font-size:40px; color:#4c402b;}
.title img{ max-width:90%;}
.show_menu{ display:block; position:absolute; top:0px; right:20px; z-index:999; padding:4px 13px 7px 13px;
-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;-khtml-border-bottom-left-radius:8px;border-bottom-left-radius:8px;
-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;-khtml-border-bottom-right-radius:8px; border-bottom-right-radius:8px;color:#000000;
}
.hide_menu{ display:none; position:absolute; top:0px; right:20px; z-index:999; padding:4px 13px 7px 13px;
-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;-khtml-border-bottom-left-radius:8px;border-bottom-left-radius:8px;
-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;-khtml-border-bottom-right-radius:8px;border-bottom-right-radius:8px;color:#000000;
}
.menu{padding:25px 0 15px 0; text-align:left; width:98%; background-image:none; height:auto; display:none;margin:0 auto 0 auto;}
.widget_area_home_three .menu{ display:block;}
ul#main_menu {list-style:none; margin:0; padding:0px;}
ul#main_menu * {margin:0; padding:0;}
ul#main_menu li {width:95%; position:relative;padding:10px 0px 10px 5%; display:block; border-bottom:1px dotted #373737;}
ul#main_menu li:last-child{ border-bottom:none;}

ul#main_menu li a{font-family: 'Ovo', serif; color:#ffffff; font-size:16px;height:20px; line-height:20px; display:inline-block;}
ul#main_menu li a.selected {font-family: 'Ovo', serif;font-size:16px;height:20px; line-height:20px; display:inline-block; background:none;}
ul#main_menu li a:hover{background:none;}

ul#main_menu ul {top:40px; left:5%;}
ul#main_menu ul li {height:30px; line-height:30px;}
ul#main_menu ul li a {height:30px; line-height:30px;}

.slider_container{ width:90%; margin:0 0 0 2%; clear:both; background:none; padding:30px 0 0 0;}
.flexslider {width: 100%; margin: 0; padding:0 0 30px 0;background:none;}
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:-10px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(images/next.png) no-repeat center; bottom:85px;}
.flex-direction-nav li a.prev {background:url(images/prev.png) no-repeat center;bottom:40px;}
.flex-caption { display:none;}

.home_title{ width:100%; background:url(images/divider.jpg) no-repeat center bottom; padding:0 0 80px 0; margin:10px auto auto auto;}
.home_title h2{ float: none;font-size:24px; padding:0px 0 0 0; margin:0px;font-family: 'Ovo', serif; letter-spacing:-0.5px; text-align:center; line-height:30px;}

.socials{ float:none; text-align:center; display:block; padding:10px 0 0 0;}
.socials ul{ display:inline; padding:0px; margin:0px;}
.socials ul li{ display:inline; padding:0 0 0 5px; float:none;}

.about_pic{ width:147px; height:147px; background:url(images/about_pic_bg.jpg) no-repeat center; float:none; margin:auto;}
.about_right{ width:95%; float:left; padding:0 0 0 5%;}
.about_right h2{font-family: 'Great Vibes', cursive;font-size:30px; padding:10px 0 10px 0; margin:0px; text-align:center;}

.left_full, .left13, .left23, .left12, .left14{ width:90%; float:left; padding:5% 0 0 5%;}
.widget_area_home_two .widget_text{ width:90%;padding:5% 0 0 5%;}

.fdivider{ background:none;}
.topsocials{ display:none; position:absolute;text-align:center; top:100px; width:82%; left:2%; z-index:9999999;background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px; margin:0 2%; padding:15% 5%;}


.pages_title{height:40px; width:94%;clear:both; float:left; margin:20px 0 0 2%; padding:0 0 0 2%; line-height:40px;}
.pages_title h2{ font-size:20px;}

.gallery13{ width:305px; height:260px;float:left; margin:40px 5px 0 0; position:relative;}

/* Gallery Section
/*-----------------------------------------------------------------------------------*/
.gallery{ padding:20px 0 0 10px;}
.gallery-item{ padding-bottom:10px;width: 90% !important; clear:both !important;}

ul.portfolio_items {list-style:none;padding:0 0 40px 0px;margin:0;overflow:hidden; clear:both;}
ul.filter_portfolio {float:left;margin:10px 0 0px 2%; width:92%; background:none; height:auto; padding:2% 0 0 2%;}
ul.filter_portfolio li {float: left;display:inline; width:100%;}
ul.filter_portfolio li a {display: block;font-size: 15px; padding:10px 10px;margin:0 0 0 0;background:#f2e7cf;color: #53462e;display: block;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; border:1px #e6d6b3 solid; margin:0 0 10px 0;}
ul.filter_portfolio li.selected a{display: block;font-size: 15px; padding:10px 10px; color: #ca7700;margin:0 0 0 0;background:#e9cc8c;color: #53462e;display: block;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; border:1px #cca54f solid; margin:0 0 10px 0;}
ul.filter_portfolio li a:hover{background:#e9cc8c;color: #53462e;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; border:1px #cca54f solid;}

.post_left{width:100%; float:left; margin:0px 0 0 0;}
.date_line_blog{ width:100%; height:70px; position:relative; text-align:center; padding:18px 0 0 0; margin:20px 0 10px 0;}
.date_line_blog span.day{ font-size:55px;width:78px; text-align:center; padding:0;font-family: 'Great Vibes', cursive; line-height:45px;}
.date_line_blog span.month{ font-size:14px;width:78px; text-align:center; padding:0px;font-family: 'Ovo', serif;}
img.date_line{ display:none;}

.post_thumb{ float:left; border:5px #e6e2d8 solid; position:relative; width:97%;}
h2.post_title_nothumb{ float:left;width:97%; padding:0px; margin:0px;}
.entry{ clear:both; margin:10px 0 20px 0px; float:right;width:100%;}
.entry_single{ clear:both; margin:0px 0 20px 0px; float:right;width:100%;}
.comments_container{float:left;width:100%;}
.post_thumb h2{ position:absolute; bottom:0px; left:0px; z-index:999;color: #303030; padding:5px; margin:0px;}
.post_thumb h2 a{color: #303030; font-size:14px;}
a.read_more{margin:auto; display:block; text-align:center; clear:both; padding:0 0 0 0px;}

.navigation{clear:both; padding:0px 0 40px 0px;}

.form_content{width:100%;float:left;padding:20px 0px 30px 0px;}
.form_rsvp{ padding:10px 0 20px 0px; float:left;}
.form_row_rsvp{width:100%;clear:both;float:left;padding:4px 0 4px 5px;}
.form_row label{width:95%;float:left;font-size:13px;text-align:left;padding:5px 0 0 5%; color:#4c402b;font-weight:bold;height:30px;line-height:30px; text-transform:capitalize;}
.form_row label.small{width:100%;float:left;font-size:13px;text-align:left;padding:5px 20px 0 0; color:#4c402b;font-weight:bold;height:30px;line-height:30px; text-transform:capitalize;}
input.form_input{width:94%;height:39px;margin:0 3% 0 3%;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;color:#000;float:left;padding:0px;}

textarea.form_textarea{width:94%;height:96px;font-family:Arial, Helvetica, sans-serif;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;color:#000;float:left;margin:0 3% 0 3%; padding:0px;font-size:12px;}
input.form_submit_contact{cursor:pointer;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; margin:5px 5px 0 0px; padding:8px 25px;
margin:auto; text-align:center; display:block; font-size:16px;}

.comments_container label{width:95%;float:left; clear:both;font-size:13px;text-align:left;padding:10px 0 0 15px; color:#4c402b;font-weight:bold;text-transform:capitalize;}
.comments_container input{width:94%;height:39px;margin:0 3% 0 3%;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;color:#000;float:left;padding:0px;}
.comments_container textarea{width:94%;height:96px;font-family:Arial, Helvetica, sans-serif;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px;-khtml-border-radius:5px;color:#000;float:left;padding:10px 0 0 10px;font-size:12px; margin:0 0 0 10px;}
.comments_container input#submit{ width:auto; height:auto;cursor:pointer;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; margin:15px 0 0 10px; padding:8px 25px;
text-align:center; display:block; clear:both; font-size:16px;}
 p.form-allowed-tags, p.comment-notes, span.required{ display:none;}

.select_container{width:94%;height:39px;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;float:left;margin:0px 3% 0 3%;}
select.form_select{ width:95%; height:30px; background:none; border:none; padding:5px 0 5px 0; margin:5px 0 0 0;}
.checkbox_container{ width:24px; height:23px; background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:25px; -webkit-border-radius:25px;-khtml-border-radius:25px;border-radius:25px;float:left; padding:5px 0 0 4px;}
span.checkbox_value{font-size:12px;padding:7px 0 0 10px; color:#4c402b;font-weight:bold; float:left;}
span.date_value{font-size:13px;padding:7px 0 0 10px; font-weight:bold; float:left; font-style:italic;}
label.error { width:100%; display: block; float: right; color: red; padding:5px 0 0 0px; background:none; text-align:left; font-size:12px; font-weight:normal; }


.footer_content{ width:100%; margin:auto;}
.footer_text{padding:0 0 0 20px;}
.footer_menu{ float:right;padding:20px 0 0 10px;}
.footer_menu ul li a{ font-size:14px; margin:0 0 10px 10px; display:block; float:left; padding:5px 10px; }
.footer_menu ul li.selected a{ font-size:14px; margin:0 0 10px 10px; display:block; float:left; padding:5px 10px;}
}

/* Visual form styles
/*-----------------------------------------------------------------------------------*/
form.visual-form-builder{
font-family:inherit;
margin:20px 0;
}
form.visual-form-builder li{width:auto !important;}
.visual-form-builder ul li{list-style:none; background-image:none;}
.visual-form-builder ul{
list-style:none;
margin:0px;
padding:10px;
width:97%;clear:both;float:left;margin:0 0 5px 0;
background:url(images/lines.gif) repeat; border:none;float:left;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;
}
.visual-form-builder li{
list-style:none;
clear:both;
margin:0;
padding:6px 1% 9px;
width:64%;
}
.visual-form-builder li div span, span.full input, span.full select{
display:block;
float:left;
width:100%;
}
.visual-form-builder span.left{
float:left;
width:48%;
}
.visual-form-builder span.right{
float:right;
width:48%;
}
.visual-form-builder span.right input, .visual-form-builder span.right select, .visual-form-builder span.left input, .visual-form-builder span.left select{width:90%;}
.visual-form-builder span.vfb-time{float:left;margin:0 0.3em 0 0;}
.visual-form-builder li div label, .visual-form-builder li span label{font-size:90%;}
.visual-form-builder fieldset{
margin:15px 0;
clear:both;
}
.visual-form-builder .vfb-legend{
margin:0px;
padding:0 0px;
color:#990000;
font-size:inherit;
}
.visual-form-builder .vfb-legend h3{font-size:20px;padding:10px 0 10px 3%; margin:0 0 10px 0; font-weight:normal; background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px; float:left; width:97%;}
.visual-form-builder label, label.vfb-desc{
display:block;
margin:0;
padding-bottom:10px;
color:#000;
}
.visual-form-builder.left-label .vfb-desc, .visual-form-builder.right-label .vfb-desc{
float:left;
margin:0 0 10px 5px;
width:31%;
/*width:20%;*/
}
.visual-form-builder.right-label .vfb-desc{
padding:2px 0 15px 0;
text-align:right;
}
.visual-form-builder.left-label li div, .visual-form-builder.right-label li div{
float:left;
width:65%;
}
label.vfb-desc{font-weight:bold;}
.visual-form-builder label.vfb-choice{
font-size:100%;
line-height:150%;
margin:-17px 0 0 23px;
padding:0 0 5px;
width:88%;
}
.visual-form-builder label span{
color:#BC1212;
vertical-align:middle;
}
input.vfb-text, textarea.vfb-textarea, select.vfb-select{
font-size:100%;
font-family:inherit;
margin:0;
padding:10px;
background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;color:#000;
}
input.vfb-small, select.vfb-small{width:90%;}
input.vfb-medium, select.vfb-medium{width:90%;}
input.vfb-large, select.vfb-large, textarea.vfb-textarea{width:90%;}
.visual-form-builder.left-label .textarea, .visual-form-builder.right-label .textarea{float:left;width:65%;}
textarea.vfb-medium{height:5.5em;}
textarea.vfb-medium{height:10em;}
textarea.vfb-large{height:20em;}
.vfb-submit{cursor:pointer;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; margin:5px 5px 0 0px; padding:8px 25px;
margin:auto; text-align:center; display:block; font-size:16px;}
input.vfb-checkbox, input.vfb-radio{
font-size:1.1em;
display:block;
height:13px;
width:13px;
margin:4px 0 0;
}
.visual-form-builder li.vfb-two-column div span, .visual-form-builder li.vfb-three-column div span, .visual-form-builder li.vfb-auto-column div span{
margin:0 5px 0 0;
width:48%;
}
.visual-form-builder li.vfb-three-column div span{width:30%;}
.visual-form-builder li.vfb-auto-column div span{width:auto;}
.visual-form-builder li.vfb-left-half, .visual-form-builder li.vfb-left-third, .visual-form-builder li.vfb-left-two-thirds{clear:left;float:left;}
.visual-form-builder li.vfb-right-half, .visual-form-builder li.vfb-right-third, .visual-form-builder li.vfb-right-two-thirds{clear:none;float:right;}
.visual-form-builder li.vfb-middle-third{clear:none;float:left;margin-left:2%;}

.visual-form-builder li.vfb-left-half, .visual-form-builder li.vfb-right-half{width:47% !important;}
.visual-form-builder li.vfb-left-third, .visual-form-builder li.vfb-middle-third, .visual-form-builder li.vfb-right-third{width:30% !important;}
.visual-form-builder li.vfb-left-two-thirds, .visual-form-builder li.vfb-right-two-thirds{width:64% !important;}

li.vfb-left-half .vfb-small, li.vfb-left-half .vfb-medium, li.vfb-left-half .vfb-large,
li.vfb-right-half .vfb-small, li.vfb-right-half .vfb-medium, li.vfb-right-half .vfb-large,
li.vfb-left-third .vfb-small, li.vfb-left-third .vfb-medium, li.vfb-left-third .vfb-large,
li.vfb-middle-third .vfb-small, li.vfb-middle-third .vfb-medium, li.vfb-middle-third .vfb-large,
li.vfb-right-third .vfb-small, li.vfb-right-third .vfb-medium, li.vfb-right-third .vfb-large,
.visual-form-builder li.vfb-left-two-thirds .vfb-small, .visual-form-builder li.vfb-left-two-thirds .vfb-medium, .visual-form-builder li.vfb-left-two-thirds .vfb-large,
.visual-form-builder li.vfb-right-two-thirds .vfb-small, .visual-form-builder li.vfb-right-two-thirds .vfb-medium, .visual-form-builder li.vfb-right-two-thirds .vfb-large{
	width:100%;
}

label.error{
color:red;
font-weight:bold;
font-size:90%;
}
input.error, select.error, textarea.error{border:1px solid red;}
p#form_success{
color:green;
font-weight:bold;
}
#ui-datepicker-div {
display: none;
font-size:12px;
}
.ed_button{
font-size:12px;
background-image: -moz-linear-gradient(top, #fcfcfc 0%, #e9e8e8 100%);
background-image: -o-linear-gradient(top, #fcfcfc 0%, #e9e8e8 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(1, #e9e8e8));
background-image: linear-gradient(top, #fcfcfc 0%, #e9e8e8 100%);
min-width:26px;
margin:3px 1px 4px;
padding:2px 4px;
box-shadow:0 1px 0 #e3e3e3;
border-radius:3px 3px 3px 3px;
border:#C3C3C3 1px solid;
text-transform:lowercase;
}
.ed_button:hover{
background:none repeat scroll 0 0 #dddddd;
border-color:#aaaaaa;
cursor:pointer;
}
.ed_button.ed_bold{font-weight:bold;}
.ed_button.ed_italic{font-style:italic;}
.ed_button.ed_link{color:#0000FF;text-decoration:underline;}
.ed_button.ed_del{text-decoration:line-through;}
.item-instructions{background-color:#e3e3e3;border-radius:3px;}
.vfb-section-div{
 background-color:#D4D4D4;
 border-radius:3px;
 padding:10px;
 margin:10px 0;
 float:left;
 width:97%;
}
.vfb-section-div h4{font-size:16px;border-bottom:1px solid #BABABA;}
.vfb-clear{
clear:both;
display:block;
height:0;
width:0;
overflow:hidden;
visibility:hidden;
}
/*---------------default styles------------------*/
.entry-content img {margin: 0 0 1.5em 0;}
.alignleft, img.alignleft {display: inline;float: left;margin-right: 1.5em;}
.alignright, img.alignright {display: inline;float: right;margin-left: 1.5em;}
.aligncenter, img.aligncenter {clear: both;display: block;margin-left: auto;margin-right: auto;}
.wp-caption {text-align: center;margin-bottom: 1.5em;}
.wp-caption img {border: 0 none;margin: 0;padding: 0;}
.wp-caption p.wp-caption-text {margin: 0;}
.wp-smiley { max-height: 1em;margin:0 !important;}
.gallery dl {margin: 0;}
.gallery-caption {margin:-1.5em 0 0 0;}
blockquote.left {float: left;margin-left: 0;margin-right: 20px;text-align: right;width: 33%;}
blockquote.right {float: right;margin-left: 20px;margin-right: 0;text-align: left;width: 33%;}
.sticky{}
.bypostauthor{}
/*----------------calendar widget-------------------*/
#calendar_wrap {float: left; clear:both; padding:0 0 45px 0; }
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: left; font-family: 'Ovo', serif; color:#53462e; font-size: 18px; margin:0 0 25px 0; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #fff1cb; border: 1px solid #fff; text-align: center; padding:8px 10px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
