/*  This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */



/* CSS Document - print style sheet */


body {
background-color: #FFFFFF;
font-family: "Times New Roman", Times, serif;
line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #595959;
}

h1 {
font-size: 16pt;
}

h2 {
font-size: 14pt;
}

h3, h4, h5, h6 {
font-size: 12pt;
}


a:link, a:visited {
text-decoration: underline;
font-weight: bolder;
color: #000000;
}

a img {
border: 1px solid #595959;
}

#menu {
display: none;
}

