/*  This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */



/* CSS Document */


/* General */

* {
margin: 0;
padding: 0;
}

html {
height: 100%;
font-size: 62.5%;
}

body {
height: 100%;
text-align: center;
background: #002844 url('../img/bg.gif') repeat-x 0 0;
font: 1.2em Georgia, "Times New Roman", Times, serif;
}

a:link, a:visited {
color: #BBDDFF;
text-decoration: underline;
font-weight: bold;
}

a:hover {
text-decoration: none;
}

.cleaner {
clear: both;
height: 0;
font-size: 0;
visibility: hidden;
}

.noscreen {
display: none;
}


/* Paragraphs, headings, ... */

p {
line-height: 1.9;
margin-bottom: 7px;
color: #A3D1FF;
}

h1 {
font: 2.5em normal;
letter-spacing: 1px;
color: #FFFFFF;
padding: 37px 0 0 0;
margin-bottom: 40px;
border-bottom: 1px solid #24475E;
padding-bottom: 4px;
width: 99%;
}

h1 a:link, h1 a:visited {
font-weight: normal;
text-decoration: none;
color: #FFFFFF;
}

h1 em {
color: #99CCFF;
font-style: normal;
}

h1 span {
font-size: 1.3em;
}

h2 {
font: 1.7em normal;
color: #90FF3F;
}


/* Wrapper */

#wrapper {
margin: 0 auto;
width: 870px;
text-align: left;
position: relative;
}


/* Menu */

#menu {
position: absolute;
top: 3px;
right: 0;
list-style: none;
}

#menu li {
float: left;
display: inline;
white-space: nowrap;
margin-right: 6px;
}

#menu li a {
float: left;
display: block;
padding: 0 10px;
line-height: 26px;
font-weight: normal;
text-decoration: none;
color: #99CCFF;
font-size: 1.1em;
}

#menu li a:hover, #menu li a.active {
border-top: 3px solid #99CCFF;
}


/* Image gallery */

.gallery {
width: 99%;
margin: 16px 0 34px 0;
}

.photo {
float: left;
display: inline;
width: 176px;
height: 175px;
overflow: auto;
position: relative;
margin-right: 14px;
}

.photo a img {
margin: 0 auto 1px auto;
border: 5px solid #BBDDFF;
}

.photo a:hover img {
border: 5px solid #77aee3;
}

.photo p {
margin: 2px 0 0 2px;
line-height: 1;
color: #DDEEFF;
font-weight: bold;
background-color: #030303;
border: 1px solid #000000;
float: left;
padding: 3px 5px;
}

.photo p, .photo p a, .photo p a:visited {
color: #DDEEFF;
text-decoration: none;
font-weight: normal;
}


/* Footer */

#footer {
margin: 0 auto;
padding: 4px 0 70px 0;
border-top: 1px solid #24475E;
}

#footer p {
color: #5695BE;
font-size: 0.9em;
}

#footer p a, #footer p a:visited {
color: #5695BE;
font-weight: normal;
}

#footer p a:hover {
color: #9ECFFF;
}

#footer p.left {
float: left;
text-align: left;
margin-left: 3px;
display: inline;
}

#footer p.right {
float: right;
text-align: right;
margin-right: 3px;
display: inline;
}
