<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
<title>Maristela e Fábio</title>

<link rel="stylesheet" type="text/css" media="all" href="/static/site2/style.css">
<link rel="stylesheet" href="/static/site2/yellow.css" type="text/css" media="screen" charset="utf-8">

<link rel="stylesheet" id="vfb-jqueryui-css-css" href="/static/site2/jquery-ui-1.css" type="text/css" media="all">
<link rel="stylesheet" id="prettyPhoto-css" href="/static/site2/prettyPhoto.css" type="text/css" media="all">
<link rel="stylesheet" id="wp-pagenavi-css" href="/static/site2/pagenavi-css.css" type="text/css" media="all">
<link rel="stylesheet" id="googleFonts-css" href="/static/site2/css.css" type="text/css" media="all">
<link rel="stylesheet" id="googleFontss-css" href="/static/site2/css_002.css" type="text/css" media="all">

<script src="/static/site2/widgets.js" id="twitter-wjs"></script>
<script type="text/javascript" src="/static/site2/js_quicktags.js"></script>
<script type="text/javascript" src="/static/site2/jquery_004.js"></script>
<script type="text/javascript" src="/static/site2/jquery.js"></script>
<script type="text/javascript" src="/static/site2/menu.js"></script>
<script type="text/javascript" src="/static/site2/jquery_003.js"></script>
<script type="text/javascript" src="/static/site2/jquery_005.js"></script>
<script type="text/javascript" src="/static/site2/custom.js"></script>
<script type="text/javascript" src="/static/site2/jquery_002.js"></script>
<script type="text/javascript" src="/static/site2/jquery_006.js"></script>
<script type="text/javascript" src="/static/site2/jquery_007.js"></script>

<script type="text/javascript" charset="utf-8">
	var $ = jQuery.noConflict();
  	$(window).load(function() {
    	$('.flexslider').flexslider({
          animation: "fade",
		  directionNav: true,
		  slideshowSpeed: 7000,
          animationSpeed: 600
    	});
		$('.attachment_image img').removeAttr("width").removeAttr("height");
		$(function() {
			$('.show_menu').click(function(){
				$('.menu').fadeIn();
				$('.show_menu').fadeOut();
				$('.hide_menu').fadeIn();
			});
		$('.hide_menu').click(function(){
				$('.menu').fadeOut();
				$('.show_menu').fadeIn();
				$('.hide_menu').fadeOut();
		});
	});
	});
</script>


<style type="text/css">
	/* Custom Colors */
	.title a{ color: #4C402B; }
	.description{ color: #E8A900; }
	html{ background-color:#E6E6E6;}
	html{ background-image:url(/static/site2/bg-texture1.jpg);}
	html{ background-repeat:repeat;}
	body{ background-image:url(/static/site2/top_bg.jpg); }
	body{ background-repeat:repeat-x; }
	body{ background-position:top; }
	.menu{ background:url(http://images/menu_bg.png) no-repeat center bottom; }
	@media screen and (max-width: 1000px) {.menu{ background-color:#000000;}}
	a { color: #E8A900; }
	h5.subtitle, h3.form_subtitle, .visual-form-builder .legend h3{ color: #E8A900; }
	ul#main_menu li a.selected, ul#main_menu li a:hover, .sidebar ul li a:hover{ color: #E8A900; }
	.home_title h2 span, .about_right h2, .sidebar .tweet ul li a, .select_container, span.date_value, .gallery13 h3, ul.filter_portfolio li a{ color: #E8A900; }
	.comm_line_blog, .blog_next a, .blog_prev a, .sidebar ul li, .bgs ul li{ border-bottom: 1px #E8A900 dotted;; }
	.widget_area_home_two h2 { background:url(/static/site2/title_bg.png) no-repeat center; }
	.date_line_blog { background:url(/static/site2/date_bg.png) no-repeat center; }
	.caption_title_line, .post_thumb h2 { background:url(/static/site2/slider_caption_bg.png) repeat; }
	a.more_about, a.button { background:url(/static/site2/more_about_bg.png) no-repeat center; }
	.flex-direction-nav li a.next { background:url(/static/site2/next.png) no-repeat center; }
	.flex-direction-nav li a.prev { background:url(/static/site2/prev.png) no-repeat center; }
	.pages_title { background:url(/static/site2/page_titles_bg.png) no-repeat center; }
	.name_divider { background:url(/static/site2/name_divider.png) no-repeat center; }
	/* End Custom Colors */
</style>


</head>

<body data-twttr-rendered="true" class="page page-id-55 page-template page-template-photos-php">
	
	{% block header %} {% endblock %}
	
	<div id="center_container">
  		<div id="header">
     		<div class="title" style="background-image:url('/static/site2/header_texture.jpg');background-repeat: repeat-none; ">
				Maristela &amp; Fábio
			</div>
     	<div class="description">
			<img src="/static/site2/swirl_left.png">
				19 Outubro 2013
			<img src="/static/site2/swirl_right.png">
		</div>
  	</div>

	{% block content %} {% endblock %}
	{% block footer %} {% endblock %}

	<script type="text/javascript" src="/static/site2/comment-reply.js"></script>

	<script type="text/javascript">
		var main_menu=new main_menu.dd("main_menu");
		main_menu.init("main_menu","menuhover");
	</script>


<script type="text/javascript">
    $(document).ready(function() {
		$("#menu-item-14 a").click( function() {
            var page_name = $(this).attr('name');
            get_page(page_name);
      	});
    });
    function get_page(page) {
        $.ajax({    url: "/" + page,
                    cache: false,
                    success: function(html){
                        $("#content").html(html);
                    }
                });
    }
  </script>


</body>
</html>