<div id="content" class="content">


	<script type="text/javascript">
	    $(document).ready(function() {
			$("#menu-item-14b a").click( function() {
	            var page_name = $(this).attr('name');
	            get_page(page_name);
	      	});
	    });
	    function get_page(page) {
			if (page.startsWith("presente"))
			{
				var pagenr = page.substring(8);
				var cotas = $("#cotas"+pagenr).val();				
				var url = "cotasluademel_email/" + pagenr + "/" + cotas
			}
			else {
				var url = page;
			}
	        $.ajax({    url: "/" + url,
	                    cache: false,
	                    success: function(html){
	                        $("#content").html(html);
	                    }
	                });
	    }
	  </script>
	
	<div class="pages_title">
		<h2>Cotas de <span>Lua de Mel</span></h2>
	</div>
	</br></br></br>
	<div></div>
	<div class="widget_area_home_three">     
		</br></br></br>

	<!--opcao 1-->
	<div class="left_full">
		<p><center><h1>Queridos amigos e familiares</h1></center></p>
		<p> O maior presente que podemos receber é a presença de vocês neste dia tão especial para nós!
			Mas para aqueles que desejam nos presentar, criamos uma opção diferente. Aqui vocês poderão deixar a nossa Lua-de-Mel ainda mais especial!
			Escolhemos <strong>Cancun</strong> para aproveitar esse momento único em nossas vidas.
			Juramos que quando estivermos nadando com os golfinhos, mergulhando em águas cristalinas ou tomando uma tequila no Cocobongo, lembraremos de vocês.
		</p>
		<p></br>
			Mas como funcionam as cotas de lua de mel? <strong>Funcionam assim:</strong> escolha o presente e a cota, 
			clique em "presentear" e você poderá efetuar o pagamento por depósito ou transferência bancária.
			Por favor, após escolher o presente, informe seus dados para que possamos enviar nossos agradecimentos.
			</br>Além disso, para quem não quiser esta opção, haverá na festa uma urna para receber as contribuições para nossa lua de mel.
		</p>
	</div>

<div class="widget_post">
</div>	

	  	{% for entry in entries %}

			<div class="left15">
				<div class="tweet">
					<div class="center_things1">

						<img src="/static/site2/images/luamel/{{ entry.img_name }}" alt="">
					</div>
					</br></br>
					<p><strong><center><div style="height:60px;">{{ entry.descr }}</div></center></strong></p>
					</br></br></br></br></br></br>
					<p><strong><center>Cota: R$ {{ entry.vlr_cota }}</center></strong></p>
					</br>
					
					<fieldset class="vfb-fieldset vfb-fieldset-3 guest-details " id="vfb-guest-details-9">
						<ul class="vfb-section vfb-section-3">
							<li class="vfb-item vfb-item-select  " id="item-vfb-nr-of-guests-13">
								<p><strong><center>** Cotas **</center></strong></p>
								<center>
									<select id={{ 'cotas%s'% entry.id }} name="vfb-13" id="vfb-nr-of-guests-13" class="vfb-select  vfb-medium valid">

									  	{% for i in range(1, entry.cotas_saldo+1) %}
										<option value={% print i %}> {% print i %} </option>
										{% endfor %}
										
										{% if entry.qtd <= entry.comprado %}
										<option value={% print 0 %}> 0 </option>
										{% endif %}

									</select>
								</center>
							</li>
						<ul>
					</fieldset>

					<div id="menu-item-14b">
						
						<!--comp: {{ entry.comprado }} qtd: {{ entry.qtd }}-->
						
						{% if entry.comprado >= entry.qtd %}
							<a class="more_about_done">Comprado</a>
						{% else %}
						<!--
							<a href="#" class="more_about" name="cotasluademel_email/{{ entry.id }}/1">Presentear</a>
						-->
							<a href="#" class="more_about" name="presente{{ entry.id }}">Presentear</a>						
						{% endif %}
					</div>
				</div>
			</div>			

	    {% endfor %}


	</div>
</div>

	<div class="name_divider">MF</div>

</div>