
<div id="content" class="content">

	<script type="text/javascript">
	    $(document).ready(function() {
			$("#menu-item-14a a").click( function() {
	            var page_name = $(this).attr('name');
	            get_page(page_name);
	      	});
	    });
	    function get_page(page) {
	        $.ajax({    url: "/" + page,
	                    cache: false,
	                    success: function(html){
	                        $("#content").html(html);
	                    }
	                });
	    }
	  </script>

	<div class="slider_container">
		<div class="flexslider">
			<ul class="slides">
	      		<li style="width: 100%; float: left; margin-right: -100%; display: list-item; opacity: 0.715256;">
						<!-- <img src="/static/site2/slide4.jpg" alt="" title=""> -->
						<img width="900" height="400" src="/static/site2/images/home/frente0.jpg" alt="" title="">
				</li>
			</ul>
		<ol class="flex-control-nav">
			<li><a class="active">1</a></li>
			<li><a class="">2</a></li>
			<li><a class="">3</a></li>
			<li><a class="">4</a></li>
		</ol>
	  </div>
	</div>

	 <div class="home_title">
	    <h2>Bem Vindos ao Nosso <span>Site de Casamento</span></h2>
	    <div class="clear"></div>
	</div>

	<div class="widget_area_home_one">
		<div class="left12 about">
			<div class="about_pic">
				<img width="135" height="135" src="/static/site2/images/casal/maristela1.jpg" alt="image" title="">
			</div>
		<div class="about_right" id="menu-item-14a">
			<h2>Maristela, por Ele</h2>
			<p>A Maristela é a alegria e a sabedoria que está sempre do meu lado! Uma leonina, uma guerreira... Supera os obstáculos da vida com muita dedicação!!! Adoro quando estás do meu lado, fico feliz quando tenho o teu sorriso.
			<strong>
				<a href="#" class="more_about" name="elaele">Leia mais</a>
			</strong>
			</p>
		</div>
	</div>
	<div class="left12 about">
		<div class="about_pic">
			<img width="135" height="135" src="/static/site2/images/casal/fabio.png" alt="image" title="">
		</div>
		<div class="about_right" id="menu-item-14a">
			<h2>Fábio, por Ela</h2>
        	<p>Uma vez me disseram que não tem hora certa para aparecer AQUELA  pessoa que vai mudar sua vida completamente. Pois é, foi assim, no momento em que eu menos esperava, você apareceu...
        	</br>
 			<strong>
 				<a href="#" class="more_about" name="elaele">Leia mais</a>
 			</strong>
			</p>
		</div>
	</div>
</div>
    <div class="clear"></div>
		<div class="widget_area_home_two">

			<div class="widget_text">
				<h2>Sobre o <span>Grande Dia</span></h2>
				<div id="menu-item-14a" class="menu-item-14">
					<a href="#" name="grandedia">
						<img width="250" height="120" src="/static/site2/images/home/grandedia1.jpg" alt="image">
                	</a>
				</div>
         		<p>Onde? Quando? Detalhes com mapas para você não se perder.</p>
				<div id="menu-item-14a">
         			<a href="#" class="section_more" name="grandedia">
						<span class="swirl_left">
							<span class="swirl_right">Leia </span>
						</span>
					</a>
				</div>
			</div>

			<div class="widget_text">
        		<h2>Confirme sua <span>Presença</span></h2>
        		<a href="http://ludikascs.com.br/pages/confirmacoes.aspx" target="_blank">
                	<img src="/static/site2/images/home/confirmepresenca.jpg" alt="image">
                </a>
				<p>Contamos com a sua presença para tornar esta data especial.</p>
				<a href="http://ludikascs.com.br/pages/confirmacoes.aspx" class="section_more" target="_blank">
					<span class="swirl_left">
						<span class="swirl_right">Confirme sua presença</span>
					</span></a>
			</div>

			<div class="widget_text">
				<h2>Álbum de <span>Fotos</span></h2>
				<div id="menu-item-14a" class="menu-item-14">
					<a href="#" name="fotos">
						<img width="250" height="120" src="/static/site2/images/home/fotos1.jpg" alt="image">
                	</a>
				</div>
         		<p>Confira algumas fotos que contam um pouquinho da nossa história.</p>
				<div id="menu-item-14a">
         			<a href="#" class="section_more" name="fotos">
						<span class="swirl_left">
							<span class="swirl_right">Fotos</span>
						</span>
					</a>
				</div>
			</div>

			<div class="widget_text">
				<h2>Sugestões de <span>Hotéis</span></h2>
				<div id="menu-item-14a" class="menu-item-14">
					<a href="#" name="hoteis">
						<img width="250" height="120" src="/static/site2/images/geral/hotel_aguas_claras.jpg" alt="image">
                	</a>
				</div>
         		<p>Verifique as diversas opções de hotel em Santa Cruz do Sul</p>
				<div id="menu-item-14a">
         			<a href="#" class="section_more" name="hoteis">
						<span class="swirl_left">
							<span class="swirl_right">Sugestões</span>
						</span>
					</a>
				</div>
			</div>

			<div class="widget_text">
				<h2>Sugestões de <span>Salão de Beleza</span></h2>
				<div id="menu-item-14a" class="menu-item-14">
					<a href="#" name="salaodebeleza">
						<img width="250" height="120" src="/static/site2/images/home/salaobeleza.jpg" alt="image">
                	</a>
				</div>
         		<p>Lista de salões na cidade.</p>
				<p></p>
				<div id="menu-item-14a">
         			<a href="#" class="section_more" name="salaodebeleza">
						<span class="swirl_left">
							<span class="swirl_right">Sugestões</span>
						</span>
					</a>
				</div>
			</div>


			<div class="widget_text">
				<h2>Single <span>Ladies</span></h2>
				<div id="menu-item-14a" class="menu-item-14">
					<a href="#" name="singleladies">
						<img width="250" height="120" src="/static/site2/images/home/singleladies1.jpg" alt="image">
                	</a>
				</div>
         		<p>Solteiras de Plantão</p>
				<p></p>
				<div id="menu-item-14a">
         			<a href="#" class="section_more" name="singleladies">
						<span class="swirl_left">
							<span class="swirl_right">Confira</span>
						</span>
					</a>
				</div>
			</div>

			<div class="widget_text">
				<h2>Cotas de <span>Lua de Mel</span></h2>
				<div id="menu-item-14a" class="menu-item-14">
					<a href="#" name="cotasluademel">
						<img width="250" height="120" src="/static/site2/images/home/cotasdeluademel.jpg" alt="image">
                	</a>
				</div>
         		<p>Presenteando os noivos com Cotas para a Lua de Mel</p>
				<div id="menu-item-14a">
         			<a href="#" class="section_more" name="cotasluademel">
						<span class="swirl_left">
							<span class="swirl_right">Veja</span>
						</span>
					</a>
				</div>
			</div>

			<div class="widget_text">
				<h2>Save <span>the Date</span></h2>
				<div id="menu-item-14a" class="menu-item-14">
					<a href="#" name="savethedate">
						<img width="250" height="120" src="/static/site2/images/home/savethedate.png" alt="image">
                	</a>
				</div>
         		<p>Reserve a data</p>
				</br>
				<div id="menu-item-14a">
         			<a href="#" class="section_more" name="savethedate">
						<span class="swirl_left">
							<span class="swirl_right">Veja</span>
						</span>
					</a>
				</div>
			</div>

		</div>

		<div class="name_divider">MF</div>

		<div class="widget_area_home_three">

	</div>
</div>


		<div class="clear"></div>



</div>

</div>
</div>

